<!DOCTYPE html>
<html lang="en">

<div id="head" w3-include-html="partial/head.html"></div>

<body>
    <script src="/scripts/index.js"></script>
    <!--Header-->
    <div id="navbar" w3-include-html="partial/navbar.html"></div>

    <!--Main-->
    <main>
        <section id="Metode" class="section2">
            <div class="section__container">
                <article class="content-about">
                    <p class="subtitle">APA ITU METODE TOPSIS ?</p>
                    <h1 class="title">
                        Metode <span>Topsis <br />
                    </h1>
                    <p class="description text-justify">
                        TOPSIS (Technique for Order of Preference by Similarity to Ideal Solution) adalah metode pengambilan keputusan multi-kriteria yang digunakan untuk merangking alternatif berdasarkan jarak relatif mereka terhadap solusi ideal. Dalam konteks Tourify, TOPSIS digunakan untuk membandingkan dan merangking destinasi wisata berdasarkan kriteria seperti jarak ke pusat kota, rating Google Maps, dan jumlah pengunjung tahunan. Metode ini memungkinkan Tourify untuk memberikan rekomendasi destinasi yang paling sesuai dengan preferensi pengguna dengan cara yang sistematis dan objektif.
                    </p>
                </article>
            </div>
            <div id="aside" w3-include-html="aside.html"></div>
        </section>

        <section id="content" tabindex="0">
            <main id="mainContent"></main>
          </section>
    </main>
    <!--Footer-->
    <div id="footer" w3-include-html="partial/footer.html"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.15.4/js/bootstrap.min.js"></script>
</body>

</html>
